body {    
  margin: 0 !important;
  padding: 0 !important;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: HammersmithOne;
  src: url(assets/fonts/HammersmithOne-Regular.ttf);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .container .content,
  .container .img {
    flex: 1 0 12em;
    /* Change 12em to your breakpoint. */
  }

  .content {
    max-width: 500px;
    margin: auto;
  }

  .centerlogo {
      width:100%;
      margin-top:300px;
  }

  .example_f {
    border-radius: 4px;
    background: #5845a4 !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    font-family: OpenSans;
  }
  .example_f span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    margin-top:50px;
  }
  .example_f span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .example_f:hover span {
    padding-right: 25px;
  }
  .example_f:hover span:after {
    opacity: 1;
    right: 0;
  }

  section {
    height: 100vh; 
   }
   
   .s1 {
    background: url(assets/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }


  .s2 {
    background-color: #5845a4;
    width: 100%;
  }

  .s3 {
    background-color: #624db8;
    width: 100%;
  }

  .s4 {
    background-color: #6d56cc;
    width: 100%;
  }

  .s5 {
    background-color: #785ee0;
    width: 100%;
  }

  .s2landing {
    width:50%;
    position:absolute;
    right:10px;
    bottom: 10px;
    top:1200px;
  }

  #button1 , #button2 {
    display:inline-block;
    margin-left:70px;
    margin-right:-70px;
    }